/* General CSS */

body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #4e4e4e;
}

.container {
  flex: 0.57;
  max-width: 57vw;
  border-right: var(--twitter-background) 1px solid;
  min-width: fit-content;
  overflow-y: scroll;
}

.myHeader {
  position: sticky;
  top: 0;
  background-color: #282828;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
  color: white;
}

.searchBar {
  margin-left: 150px;
  margin-top: 15px;
}

.feedParent {
  height: 93vh;
  overflow-y: scroll;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 40%;
  height: auto;
}

.profile__image {
  height: 100%;
}



.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #D3D3D3;
}

.summary {
  width: 50vw;
  margin-top: 50px;
}

.main_card {
	color: #fff;
	width: 50vw;
	height: 30vh;
	margin: 5px 0 0 5px;
  overflow-y: scroll;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #282828; 
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
  box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.main_card h4 {
  margin: 5px 0 0 10px;
}

.card_left {
	width: 90%;
}

.card_image {
  height: 100%;
}

.card_datails {
	width: 90%;
	padding: 30px;
	margin-top: -25px;
}
.card_datails  h1 {
	font-size: 30px;
}
.card_right img {
	height: 390px;
	border-radius: 2px;
}
.card_right {
	border-radius: 2px;
}

.card_cat {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.PG, .year, .genre, .time {
	color: fff;
	padding: 10px;
	font-weight: bold;
	border-radius: 15px;
}

.disc {
	font-weight: 100;
	line-height: 27px;
}
a {
	color: darkcyan;
	display: block;
	text-decoration: none;
}
.social-btn {
	margin-left: -10px;
}

/* Explore CSS */ 

.explore {
  background-color: #4e4e4e;
  height: 100vh;
}

.exploreSearch {
  text-align: center;
  margin-top: 1.5%;
}

.exploreContainer {
  height: 79%;
  overflow-y: scroll;
}


.searchResults {
  margin-top: 1.5%;
  text-align: center;
  color: #D3D3D3;
}


/* Connect CSS */

.connect {
  background-color: #4e4e4e;
  height: 100vh;
}

/* Reviews CSS */

.reviews {
  background-color: #4e4e4e;
  height: 100vh;
}

.noReviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50vw;
}

.yourReviews {
  text-align: center;
  color: white;
  font-size: 26px;
}

/* Profile CSS */

.profile {
  background-color: #4e4e4e;
  height: 100vh;
}

.profilePosts {
  height: 50vh;
  overflow-y: scroll;
}

.bio_text {
  width: 50%;
  border-bottom: 1px solid #4e4e4e;
}

/* gameDetails CSS */

.gameDetails {
  background-color: #4e4e4e;
  height: 100vh;
}

.reviewsContainer {
  margin-top: 20px;
}

.summary {
  margin-left: 25px;
  padding: 10px;
  border-radius: 10px;
  background-color: #D3D3D3
}

/* FAQ CSS */

.FAQ {
  background-color: #4e4e4e;
  height: 100vh;
  overflow-y: scroll
}

.FAQContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50vw;
}

.FAQContent h2 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.FAQContent h4 {
  text-align: center;
  width: 80%;
  line-height: 1.25;
  margin-bottom: 15px;
}