body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}
.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container {
  flex: 0.57;
  border-right: var(--twitter-background) 1px solid;
  min-width: fit-content;
  overflow-y: scroll;
}