.postBox {
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
  justify-content: center;
}

.postBox > form {
  display: flex;
  flex-direction: column;
}

.postBox__input {
  display: flex;
  padding: 20px;
}

.postBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.postBox__input > input:focus {
  outline: none;
}

.postBox__button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 20px !important;
  height: 45px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}

.postBox__imageInput {
  border: none;
  padding: 15px;
}