.postBox {
  display: flex;
  margin: 0 15vw 0 12vw;
  justify-content: center;
  bottom: 30px;
  width: 30vw;
  position: fixed;
  border-radius: 15px;
  background-color: white;
}

form {
  width: 100%;
}

.postBox > form {
  display: flex;
  flex-direction: column;
}

.postBox__input {
  padding-top: 10px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.postBox__input .input__area {
  position: relative;
  min-height: 80px;
  overflow-y: auto;
}

.input__area input {
  outline: none;
  font-size: 17px;
  min-height: inherit;
  word-wrap: break-word;
  word-break: break-all;
}

.postBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
  font-size: 17px;
  min-height: inherit;
  word-wrap: break-word;
  word-break: break-all;
}

.postBox__input > input:focus {
  outline: none;
}

.post__bottom {
  display: flex;
  margin-top: 13px;
  align-items: center;
  justify-content: space-between;
}

.postBox__imageInput {
  border: none;
  padding: 15px;
}