.post__body > img {
    border-radius: 20px;
    width: 100%;
}
.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-backgroung);
}
.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}
.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}
.post__headerDescription {
  font-size: 15px;
  margin-bottom: 20px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatar {
  padding: 20px;
}

.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
  
.heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}


body {
  background: #000000;
}

.placement {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}